//Fonts
$font-default: 'DM Sans', Arial, Helvetica, sans-serif;
$font-secondary: 'Roboto', sans-serif;

//Colours
$colour-primary: #ff0000;
$colour-secondary: #3876ac;
$colour-tertiary: #279e7a;
$colour-error: #e54858;
$colour-white: white;
$colour-black: black;

//Responsive design breakpoints
$breakpoint-mobile: 819px;
$breakpoint-tablet-min: 820px;
$breakpoint-tablet-max: 1299px;
$breakpoint-desktop: 1300px;

//Modal
$modal-duration: 1s;