.confirmation {
  height: 800px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  animation-name: confirmation-open;
  animation-duration: $modal-duration;

  & p {
    text-align: center;
    font-size: xx-large;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .confirmation {
    height: 500px;
  }
}